.MainInfoComponent {
    padding-top: 0px;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 0px;
    /* display: flex; */
    /* flex-direction: row; */
}

.pic {
    flex-direction: column;
    vertical-align:middle;
    /*  */
}

.About {
    font-size: 20px;
    /* width: 80%; */
}

img {
    height: 250px;
  }