.TimelineContainer {
    padding-top: 50px;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 0px;
    font-size: 20px;


}

a {
    text-decoration: none;
    font-size: 20px;
    height: inherit;
}